
body {
<<<<<<< HEAD
    background-color: black;
    background-image: url(../chill.jpg) no-repeat;
    min-width: 100%;
    min-height: 100%
=======
    background-color: #122341;
>>>>>>> 82900fa31a96adb49a74658efcc3e45824ba8261
}

video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
<<<<<<< HEAD
    background: url(../chill.jpg) no-repeat;
=======
    background: url(../watcher.jpg) no-repeat;
>>>>>>> 82900fa31a96adb49a74658efcc3e45824ba8261
    background-size: cover;
    filter: blur(3px);
}

.overlay {
<<<<<<< HEAD
    position: fixed;
=======
    margin-top: 50px;
>>>>>>> 82900fa31a96adb49a74658efcc3e45824ba8261
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
<<<<<<< HEAD
    opacity: 0.6;
=======
    opacity: 0.3;
>>>>>>> 82900fa31a96adb49a74658efcc3e45824ba8261
}

.scan-lines {
    top: 50px;
    width: 135%;
    height: 135%;
    position: fixed;
    left: -10%;

    /*** WEBKIT ***/
    background: -webkit-repeating-linear-gradient( top, transparent 0px, transparent 1px, rgba(0, 0, 0, 0.25) 1px, rgba(0, 0, 0, 0.25) 2px);
    -webkit-background-size: 100% 2px;
    /** MOZILLA **/
    background: -moz-repeating-linear-gradient( top, transparent 0px, transparent 1px, rgba(0, 0, 0, 0.25) 1px, rgba(0, 0, 0, 0.25) 2px);
    -moz-background-size: 100% 2px;
}

.nav-bar {
    background: rgba(00, 00, 00, 0.4);
    height: 50px;
    color: white;
    border-bottom: 2px solid #444444;
}



.region-btn {
    width: 100px;
}

.search-bar {
<<<<<<< HEAD
    background: rgba(53, 50, 60, 0.7);
    height: 50px;
    border-color: gray;
=======
    background-color: #2C323C;
>>>>>>> 82900fa31a96adb49a74658efcc3e45824ba8261
    color: white;
}

.region-btn {
<<<<<<< HEAD
    background: rgba(53, 50, 60, 0.7);
    height: 50px;
    border-color: gray;
=======
    background-color: #2C323C;
    padding: 0;
>>>>>>> 82900fa31a96adb49a74658efcc3e45824ba8261
    margin: 0;
    color: white;
}

.summ-search {
    text-align: center;
    margin-top: 15%;
    margin-left: 20px;
    color: white;
}

.submit-button {
    background-color: Transparent;
    border: none;
    padding: 8px;
    cursor:pointer;
    color: white;
}

.logo {
    max-height: 100%;
    width: auto;
}
<<<<<<< HEAD

.about {
    margin-top: 5%;
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    text-align-last: center;
    background: rgba(00, 00, 00, 0.4);
    color: #EFEFEF;
    font-size: 1.2em;
    border-radius: 5px;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.purple {
    color: #FF1F19;
    font-weight: bold;
}

.iframe {
    border: none;
}

.video-player, .chat-window {
    float: left;
}

.loader-hidden, .dimmer-hidden {
  display: none;
}

.loader-active, .dimmer-active {
  display: block;
}

.dimmer {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-color: black;
    opacity: 0.7;
}
=======
>>>>>>> 82900fa31a96adb49a74658efcc3e45824ba8261
